* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 14px;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
}
b {
  font-weight: bold;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 10px;
}
