---
layout: page
title: Projects
---
<section class="list">
  <h4>{{ page.title }}</h4>
  {% for post in site.posts %}
    {% if post.projects %}
      <div class="item {% if post.star %}star{% endif %}">
        <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
          <h3 class="title">{{ post.title }}</h3>
          <aside>
            <!-- <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time> -->
            {% for language in post.languages %}
              <span class="{{ language }}">{{ language | capitalize }}</span>
            {% endfor %}
          </aside>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</section>
