.article-blog {
  h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
  .body-article {
    font-size: 16px;
    text-align: justify;
    p {
      padding: 0;
      line-height: 1.7;

      @media (max-width: 540px) {
        padding: 0 10px;
      }
    }
    .secondary-title {
      margin-top: 20px;
    }
    .code {
      background-color: #1f8ed540;
      color: #1a1a1a;
      padding: 0 3px;
    }
    .vue {
      background-color: #4fc08d;
      color: white;
      padding: 0 3px;
    }
    a {
      text-decoration: none;
      color: #1f8ed5;
      font-weight: bold;
      opacity: 1;
      border-bottom: solid 1px transparent;
      -webkit-transition: opacity .2s ease-out, border-bottom-color .2s ease-out;
      -moz-transition: opacity .2s ease-out, border-bottom-color .2s ease-out;
      -ms-transition: opacity .2s ease-out, border-bottom-color .2s ease-out;
      -o-transition: opacity .2s ease-out, border-bottom-color .2s ease-out;
      transition: opacity .2s ease-out, border-bottom-color .2s ease-out;
      &:hover {
        opacity: 0.8;
        border-bottom: solid 1px #1f8ed5;
      }
    }
  }
}
